.title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding-top: 35px;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
}