.menu {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3CB371;
    font-weight: bold;
    list-style-type: none;
    display: table-cell;
    position: relative;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}